*.o
.deps
/ax25d.conf
ax25d
axctl
axkill
axparms
axspawn
axwrapper
beacon
bpqparms
Makefile
Makefile.in
mheard
mheardd
rxecho
/ax25d.conf.5
/axspawn.conf.5
/rxecho.conf.5
/ax25d.8
/axctl.8
/axparms.8
/axspawn.8
/mheard.1
/mheardd.8
/rxecho.8
